html, body, #nodes {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow: hidden; }

* {
  text-align: center;
  margin: 0;
  padding: 0; }

body {
  background-color: #202020;
  font-family: "Roboto", sans-serif;
  color: white; }

h1 {
  font-size: 4em;
  font-weight: 500;
  text-shadow: 2px 2px 0.5em black; }

p {
  text-shadow: 1px 1px 0.5em black; }
  p:not(.long) {
    font-size: 1.5em;
    font-weight: 300; }

img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  object-fit: cover;
  z-index: -1; }

iframe {
  position: absolute;
  width: calc(100% + 2px);
  height: 100%; }

cite {
  display: none; }

.main .only-thumb, .parent :not(.keep-thumb), .child :not(.keep-thumb), .home-ancestor :not(.keep-thumb), .offscreen :not(.keep-thumb), .offscreen {
  opacity: 0;
  width: 0;
  height: 0;
  margin: 0;
  padding: 0; }

.node {
  background-color: #404040;
  border-radius: 50%;
  position: absolute;
  transition-duration: 1s;
  transition-timing-function: ease-out;
  transition-property: left, top, width, height, opacity, margin, padding, font-size, font-weight;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }
  .node.dark-text {
    background-color: silver; }

.main {
  border: white solid 4px;
  padding: 16px;
  z-index: 3; }
  .main.big-main {
    transition-property: left, top, width, height, opacity, margin, padding, font-size, font-weight, border-radius;
    border-radius: 0; }
  .main.dark-text img {
    opacity: 0.25; }
  .main#home {
    transform: translateY(-64px); }

.parent {
  transform: translateY(32px); }

.parent, .child {
  border: white solid 2px;
  padding: 8px;
  z-index: 2; }
  .parent h1, .child h1 {
    font-size: 1.5em;
    font-weight: 400; }

.home-ancestor {
  border: white solid 1px;
  z-index: 1; }
  .home-ancestor *:not(img) {
    display: none; }

.offscreen {
  z-index: 0; }
  .offscreen h1 {
    font-size: 1em;
    font-weight: 400; }

.dark-text {
  color: #303030; }
  .dark-text img {
    transition: 1s ease-out opacity; }

/*# sourceMappingURL=style.css.map */
