html, body, #nodes
  margin: 0
  padding: 0
  width: 100%
  height: 100%
  overflow: hidden

*
  text-align: center
  margin: 0
  padding: 0

body
  background-color: rgb(32, 32, 32)
  font-family: 'Roboto', sans-serif
  color: white

h1
  font-size: 4em
  font-weight: 500
  text-shadow: 2px 2px .5em transparentize(black, 0)

p
  text-shadow: 1px 1px .5em transparentize(black, 0)

  &:not(.long)
    font-size: 1.5em
    font-weight: 300

img
  position: absolute
  width: 100%
  height: 100%
  top: 0
  left: 0
  object-fit: cover
  z-index: -1

iframe
  position: absolute
  width: calc(100% + 2px)
  height: 100%

cite
  display: none

%hidden
  opacity: 0
  width: 0
  height: 0
  margin: 0
  padding: 0

.node
  background-color: rgb(64, 64, 64)
  border-radius: 50%
  position: absolute
  transition-duration: 1s
  transition-timing-function: ease-out
  transition-property: left, top, width, height, opacity, margin, padding, font-size, font-weight
  overflow: hidden
  display: flex
  flex-direction: column
  justify-content: center
  align-items: center

  &.dark-text
    background-color: rgb(192, 192, 192)

.main
  border: white solid 4px
  padding: 16px
  z-index: 3

  &.big-main
    transition-property: left, top, width, height, opacity, margin, padding, font-size, font-weight, border-radius
    border-radius: 0
  &.dark-text img
    opacity: .25

  &#home
    transform: translateY(-64px)

  .only-thumb
    @extend %hidden

.parent
  @extend %imm-outer

  transform: translateY(32px)

.child
  @extend %imm-outer

%imm-outer
  @extend %outer

  border: white solid 2px
  padding: 8px
  z-index: 2

  h1
    font-size: 1.5em
    font-weight: 400

.home-ancestor
  @extend %outer

  border: white solid 1px
  z-index: 1

  *:not(img)
    display: none

%outer, .offscreen
  *:not(.keep-thumb)
    @extend %hidden

.offscreen
  @extend %hidden

  z-index: 0

  h1
    font-size: 1em
    font-weight: 400

.dark-text
  color: rgb(48, 48, 48)

  img
    transition: 1s ease-out opacity